.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-reverse-mobile {
  @include screen(xs) {
    flex-direction: column-reverse;
  }
}

@each $key, $value in $breakpoints {
  @include screen(#{$key}) {
    @for $i from 1 through 12 {
      .col-#{$key}-#{$i} {
        flex-basis: (100% / 12) * $i;
        width: (100% / 12) * $i;
      }
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex-basis: (100% / 12) * $i;
    width: (100% / 12) * $i;
  }
}
